<div class="mitor-tab-selection ">
    <div class="bundle-selection">
        <ul class="nav nav-pills" role="tablist" id="btnTab">
            <li class="nav-item">
                <a href="#month" class="  nav-link  active" id="month-tab" data-toggle="tab" type="button"
                   role="tab"
                   aria-controls="home" aria-selected="false">monthly</a>
            </li>
            <li class="nav-item">
                <a href="#years" class=" nav-link " id="years-tab" data-toggle="tab" d type="button"
                   role="tab"
                   aria-controls="home" aria-selected="true">yearly</a>
            </li>
        </ul>
    </div>
    <div class="tab-content" id="btnTabContent">
        <div class="tab-pane fade show " id="years" role="tabpanel" aria-labelledby="years-tab">
            <div class="row w-100 ">
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-pricing-card single-pricing-card--svg-flat">
                        <div class="card-top">
                            <div class="back-svg">
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img"
                                     width="100" height="100" preserveAspectRatio="xMidYMid meet"
                                     viewBox="0 0 1536 1536">
                                    <path fill="currentColor"
                                          d="m363 1408l91-91l-235-235l-91 91v107h128v128h107zm523-928q0-22-22-22q-10 0-17 7l-542 542q-7 7-7 17q0 22 22 22q10 0 17-7l542-542q7-7 7-17zm-54-192l416 416l-832 832H0v-416zm683 96q0 53-37 90l-166 166l-416-416l166-165q36-38 90-38q53 0 91 38l235 234q37 39 37 91z" />
                                </svg>
                            </div>
                            <div class="head">
                                <div class="head-svg">
                                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img"
                                         width="35" height="35" preserveAspectRatio="xMidYMid meet"
                                         viewBox="0 0 1536 1536">
                                        <path
                                              d="m363 1408l91-91l-235-235l-91 91v107h128v128h107zm523-928q0-22-22-22q-10 0-17 7l-542 542q-7 7-7 17q0 22 22 22q10 0 17-7l542-542q7-7 7-17zm-54-192l416 416l-832 832H0v-416zm683 96q0 53-37 90l-166 166l-416-416l166-165q36-38 90-38q53 0 91 38l235 234q37 39 37 91z" />
                                    </svg>
                                </div>
                                <h6 class="title h6">
                                    professional
                                </h6>
                                <p class="price">
                                    $409
                                </p>
                            </div>
                        </div>
                        <div class="card-middle">
                            <ul class="elements">
                                <li class="element">brand developpment</li>
                                <li class="element">user analysis</li>
                                <li class="element">project management</li>
                                <li class="element">market research</li>
                                <li class="element">Product solutions</li>
                                <li class="element">user element</li>
                            </ul>
                        </div>
                        <div class="card-bottom">
                            <a href="#" class="choose">
                                <span class="link-text">
                                    choose plan
                                </span>
                                <i class="svg">
                                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img"
                                         width="0.88em"
                                         height="1em" preserveAspectRatio="xMidYMid meet"
                                         viewBox="0 0 448 512">
                                        <path fill="currentColor"
                                              d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z" />
                                    </svg>
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-pricing-card single-pricing-card--svg-flat">
                        <div class="card-top">
                            <div class="back-svg">
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img"
                                     width="100" height="100" preserveAspectRatio="xMidYMid meet"
                                     viewBox="0 0 24 24">
                                    <path fill="currentColor"
                                          d="M9.19 6.35c-2.04 2.29-3.44 5.58-3.57 5.89L2 10.69l4.81-4.81l2.38.47zM11.17 17s3.74-1.55 5.89-3.7c5.4-5.4 4.5-9.62 4.21-10.57c-.95-.3-5.17-1.19-10.57 4.21C8.55 9.09 7 12.83 7 12.83L11.17 17zm6.48-2.19c-2.29 2.04-5.58 3.44-5.89 3.57L13.31 22l4.81-4.81l-.47-2.38zM9 18c0 .83-.34 1.58-.88 2.12C6.94 21.3 2 22 2 22s.7-4.94 1.88-6.12A2.996 2.996 0 0 1 9 18zm4-9c0-1.1.9-2 2-2s2 .9 2 2s-.9 2-2 2s-2-.9-2-2z" />
                                </svg>
                            </div>
                            <div class="head">
                                <div class="head-svg">
                                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img"
                                         width="40" height="40" preserveAspectRatio="xMidYMid meet"
                                         viewBox="0 0 24 24">
                                        <path
                                              d="M9.19 6.35c-2.04 2.29-3.44 5.58-3.57 5.89L2 10.69l4.81-4.81l2.38.47zM11.17 17s3.74-1.55 5.89-3.7c5.4-5.4 4.5-9.62 4.21-10.57c-.95-.3-5.17-1.19-10.57 4.21C8.55 9.09 7 12.83 7 12.83L11.17 17zm6.48-2.19c-2.29 2.04-5.58 3.44-5.89 3.57L13.31 22l4.81-4.81l-.47-2.38zM9 18c0 .83-.34 1.58-.88 2.12C6.94 21.3 2 22 2 22s.7-4.94 1.88-6.12A2.996 2.996 0 0 1 9 18zm4-9c0-1.1.9-2 2-2s2 .9 2 2s-.9 2-2 2s-2-.9-2-2z" />
                                    </svg>
                                </div>
                                <h6 class="title h6">
                                    professional
                                </h6>
                                <p class="price">
                                    $700
                                </p>
                            </div>
                        </div>
                        <div class="card-middle">
                            <ul class="elements">
                                <li class="element">brand developpment</li>
                                <li class="element">user analysis</li>
                                <li class="element">project management</li>
                                <li class="element">market research</li>
                                <li class="element">Product solutions</li>
                                <li class="element">user element</li>
                            </ul>
                        </div>
                        <div class="card-bottom">
                            <a href="#" class="choose">
                                <span class="link-text">
                                    choose plan
                                </span>
                                <i class="svg">
                                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img"
                                         width="0.88em"
                                         height="1em" preserveAspectRatio="xMidYMid meet"
                                         viewBox="0 0 448 512">
                                        <path fill="currentColor"
                                              d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z" />
                                    </svg>
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-pricing-card single-pricing-card--svg-flat">
                        <div class="card-top">
                            <div class="back-svg">
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img"
                                     width="100" height="100" preserveAspectRatio="xMidYMid meet"
                                     viewBox="0 0 256 256">
                                    <path fill="currentColor"
                                          d="M240 208h-8V104a16 16 0 0 0-16-16h-64V40a16 16 0 0 0-16-16H40a16 16 0 0 0-16 16v168h-8a8 8 0 0 0 0 16h224a8 8 0 0 0 0-16Zm-120-72a8 8 0 0 1-8 8H80a8 8 0 0 1 0-16h32a8 8 0 0 1 8 8ZM64 64h32a8 8 0 0 1 0 16H64a8 8 0 0 1 0-16Zm0 104h32a8 8 0 0 1 0 16H64a8 8 0 0 1 0-16Zm88-64h64v104h-64Zm48 72a8 8 0 0 1-8 8h-16a8 8 0 0 1 0-16h16a8 8 0 0 1 8 8Zm-32-40a8 8 0 0 1 8-8h16a8 8 0 0 1 0 16h-16a8 8 0 0 1-8-8Z" />
                                </svg>
                            </div>
                            <div class="head">
                                <div class="head-svg">
                                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img"
                                         width="40" height="40" preserveAspectRatio="xMidYMid meet"
                                         viewBox="0 0 256 256">
                                        <path
                                              d="M240 208h-8V104a16 16 0 0 0-16-16h-64V40a16 16 0 0 0-16-16H40a16 16 0 0 0-16 16v168h-8a8 8 0 0 0 0 16h224a8 8 0 0 0 0-16Zm-120-72a8 8 0 0 1-8 8H80a8 8 0 0 1 0-16h32a8 8 0 0 1 8 8ZM64 64h32a8 8 0 0 1 0 16H64a8 8 0 0 1 0-16Zm0 104h32a8 8 0 0 1 0 16H64a8 8 0 0 1 0-16Zm88-64h64v104h-64Zm48 72a8 8 0 0 1-8 8h-16a8 8 0 0 1 0-16h16a8 8 0 0 1 8 8Zm-32-40a8 8 0 0 1 8-8h16a8 8 0 0 1 0 16h-16a8 8 0 0 1-8-8Z" />
                                    </svg>
                                </div>
                                <h6 class="title h6">
                                    professional
                                </h6>
                                <p class="price">
                                    $1000
                                </p>
                            </div>
                        </div>
                        <div class="card-middle">
                            <ul class="elements">
                                <li class="element">brand developpment</li>
                                <li class="element">user analysis</li>
                                <li class="element">project management</li>
                                <li class="element">market research</li>
                                <li class="element">Product solutions</li>
                                <li class="element">user element</li>
                            </ul>
                        </div>
                        <div class="card-bottom">
                            <a href="#" class="choose">
                                <span class="link-text">
                                    choose plan
                                </span>
                                <i class="svg">
                                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img"
                                         width="0.88em"
                                         height="1em" preserveAspectRatio="xMidYMid meet"
                                         viewBox="0 0 448 512">
                                        <path fill="currentColor"
                                              d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z" />
                                    </svg>
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  modifier end-->
    <!--modifier start-->
    <div class=" fade show " id="years" role="tabpanel" aria-labelledby="years-tab">
        <div class="row w-100 ">
            <div class="col-lg-4 col-md-6 ">
                <div class="single-pricing-card single-pricing-card--svg-bold">
                    <div class="card-top">
                        <div class="back-svg">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img"
                                 width="100" height="100" preserveAspectRatio="xMidYMid meet"
                                 viewBox="0 0 1536 1536">
                                <path fill="currentColor"
                                      d="m363 1408l91-91l-235-235l-91 91v107h128v128h107zm523-928q0-22-22-22q-10 0-17 7l-542 542q-7 7-7 17q0 22 22 22q10 0 17-7l542-542q7-7 7-17zm-54-192l416 416l-832 832H0v-416zm683 96q0 53-37 90l-166 166l-416-416l166-165q36-38 90-38q53 0 91 38l235 234q37 39 37 91z" />
                            </svg>
                        </div>
                        <div class="head">
                            <div class="head-svg">
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img"
                                     preserveAspectRatio="xMidYMid meet"
                                     viewBox="0 0 1536 1536">
                                    <path
                                          d="m363 1408l91-91l-235-235l-91 91v107h128v128h107zm523-928q0-22-22-22q-10 0-17 7l-542 542q-7 7-7 17q0 22 22 22q10 0 17-7l542-542q7-7 7-17zm-54-192l416 416l-832 832H0v-416zm683 96q0 53-37 90l-166 166l-416-416l166-165q36-38 90-38q53 0 91 38l235 234q37 39 37 91z" />
                                </svg>
                            </div>
                            <h6 class="title h6">
                                professional
                            </h6>
                        </div>
                    </div>
                    <div class="card-middle">
                        <ul class="elements">
                            <li class="element">brand developpment</li>
                            <li class="element">user analysis</li>
                            <li class="element">project management</li>
                            <li class="element">market research</li>
                            <li class="element">Product solutions</li>
                            <li class="element">user element</li>
                        </ul>
                    </div>
                    <div class="card-bottom">
                        <p class="price">
                            $1000
                        </p>
                        <a href="#" class="choose">
                            <span class="link-text">
                                choose plan
                            </span>
                            <i class="svg">
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img"
                                     width="0.88em"
                                     height="1em" preserveAspectRatio="xMidYMid meet"
                                     viewBox="0 0 448 512">
                                    <path fill="currentColor"
                                          d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z" />
                                </svg>
                            </i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="single-pricing-card single-pricing-card--svg-bold">
                    <div class="card-top">
                        <div class="back-svg">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img"
                                 width="100" height="100" preserveAspectRatio="xMidYMid meet"
                                 viewBox="0 0 24 24">
                                <path fill="currentColor"
                                      d="M9.19 6.35c-2.04 2.29-3.44 5.58-3.57 5.89L2 10.69l4.81-4.81l2.38.47zM11.17 17s3.74-1.55 5.89-3.7c5.4-5.4 4.5-9.62 4.21-10.57c-.95-.3-5.17-1.19-10.57 4.21C8.55 9.09 7 12.83 7 12.83L11.17 17zm6.48-2.19c-2.29 2.04-5.58 3.44-5.89 3.57L13.31 22l4.81-4.81l-.47-2.38zM9 18c0 .83-.34 1.58-.88 2.12C6.94 21.3 2 22 2 22s.7-4.94 1.88-6.12A2.996 2.996 0 0 1 9 18zm4-9c0-1.1.9-2 2-2s2 .9 2 2s-.9 2-2 2s-2-.9-2-2z" />
                            </svg>
                        </div>
                        <div class="head">
                            <div class="head-svg">
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img"
                                     preserveAspectRatio="xMidYMid meet"
                                     viewBox="0 0 24 24">
                                    <path
                                          d="M9.19 6.35c-2.04 2.29-3.44 5.58-3.57 5.89L2 10.69l4.81-4.81l2.38.47zM11.17 17s3.74-1.55 5.89-3.7c5.4-5.4 4.5-9.62 4.21-10.57c-.95-.3-5.17-1.19-10.57 4.21C8.55 9.09 7 12.83 7 12.83L11.17 17zm6.48-2.19c-2.29 2.04-5.58 3.44-5.89 3.57L13.31 22l4.81-4.81l-.47-2.38zM9 18c0 .83-.34 1.58-.88 2.12C6.94 21.3 2 22 2 22s.7-4.94 1.88-6.12A2.996 2.996 0 0 1 9 18zm4-9c0-1.1.9-2 2-2s2 .9 2 2s-.9 2-2 2s-2-.9-2-2z" />
                                </svg>
                            </div>
                            <h6 class="title h6">
                                professional
                            </h6>
                        </div>
                    </div>
                    <div class="card-middle">
                        <ul class="elements">
                            <li class="element">brand developpment</li>
                            <li class="element">user analysis</li>
                            <li class="element">project management</li>
                            <li class="element">market research</li>
                            <li class="element">Product solutions</li>
                            <li class="element">user element</li>
                        </ul>
                    </div>
                    <div class="card-bottom">
                        <p class="price">
                            $1000
                        </p>
                        <a href="#" class="choose">
                            <span class="link-text">
                                choose plan
                            </span>
                            <i class="svg">
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img"
                                     width="0.88em"
                                     height="1em" preserveAspectRatio="xMidYMid meet"
                                     viewBox="0 0 448 512">
                                    <path fill="currentColor"
                                          d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z" />
                                </svg>
                            </i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="single-pricing-card single-pricing-card--svg-bold">
                    <div class="card-top">
                        <div class="back-svg">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img"
                                 width="100" height="100" preserveAspectRatio="xMidYMid meet"
                                 viewBox="0 0 256 256">
                                <path fill="currentColor"
                                      d="M240 208h-8V104a16 16 0 0 0-16-16h-64V40a16 16 0 0 0-16-16H40a16 16 0 0 0-16 16v168h-8a8 8 0 0 0 0 16h224a8 8 0 0 0 0-16Zm-120-72a8 8 0 0 1-8 8H80a8 8 0 0 1 0-16h32a8 8 0 0 1 8 8ZM64 64h32a8 8 0 0 1 0 16H64a8 8 0 0 1 0-16Zm0 104h32a8 8 0 0 1 0 16H64a8 8 0 0 1 0-16Zm88-64h64v104h-64Zm48 72a8 8 0 0 1-8 8h-16a8 8 0 0 1 0-16h16a8 8 0 0 1 8 8Zm-32-40a8 8 0 0 1 8-8h16a8 8 0 0 1 0 16h-16a8 8 0 0 1-8-8Z" />
                            </svg>
                        </div>
                        <div class="head">
                            <div class="head-svg">
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img"
                                     preserveAspectRatio="xMidYMid meet"
                                     viewBox="0 0 256 256">
                                    <path
                                          d="M240 208h-8V104a16 16 0 0 0-16-16h-64V40a16 16 0 0 0-16-16H40a16 16 0 0 0-16 16v168h-8a8 8 0 0 0 0 16h224a8 8 0 0 0 0-16Zm-120-72a8 8 0 0 1-8 8H80a8 8 0 0 1 0-16h32a8 8 0 0 1 8 8ZM64 64h32a8 8 0 0 1 0 16H64a8 8 0 0 1 0-16Zm0 104h32a8 8 0 0 1 0 16H64a8 8 0 0 1 0-16Zm88-64h64v104h-64Zm48 72a8 8 0 0 1-8 8h-16a8 8 0 0 1 0-16h16a8 8 0 0 1 8 8Zm-32-40a8 8 0 0 1 8-8h16a8 8 0 0 1 0 16h-16a8 8 0 0 1-8-8Z" />
                                </svg>
                            </div>
                            <h6 class="title h6">
                                professional
                            </h6>
                        </div>
                    </div>
                    <div class="card-middle">
                        <ul class="elements">
                            <li class="element">brand developpment</li>
                            <li class="element">user analysis</li>
                            <li class="element">project management</li>
                            <li class="element">market research</li>
                            <li class="element">Product solutions</li>
                            <li class="element">user element</li>
                        </ul>
                    </div>
                    <div class="card-bottom">
                        <p class="price">
                            $1000
                        </p>
                        <a href="#" class="choose">
                            <span class="link-text">
                                choose plan
                            </span>
                            <i class="svg">
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img"
                                     width="0.88em"
                                     height="1em" preserveAspectRatio="xMidYMid meet"
                                     viewBox="0 0 448 512">
                                    <path fill="currentColor"
                                          d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z" />
                                </svg>
                            </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--modifier end-->
    <!--  modifier start-->
    <div class="tab-pane fade show active" id="month" role="tabpanel" aria-labelledby="month-tab">
        <div class="row w-100 ">
            <div class="col-lg-4 col-md-6 ">
                <div class="single-pricing-card ">
                    <div class="card-top">
                        <div class="head">
                            <h6 class="title h6">
                                professional
                            </h6>
                            <p class="price">
                                $49
                            </p>
                        </div>
                    </div>
                    <div class="card-middle">
                        <ul class="elements">
                            <li class="element">brand developpment</li>
                            <li class="element">user analysis</li>
                            <li class="element">project management</li>
                            <li class="element">market research</li>
                            <li class="element">Product solutions</li>
                            <li class="element">user element</li>
                        </ul>
                    </div>
                    <div class="card-bottom">
                        <a href="#" class="choose">
                            <span class="link-text">
                                choose plan
                            </span>
                            <i class="svg">
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img"
                                     width="0.88em"
                                     height="1em" preserveAspectRatio="xMidYMid meet"
                                     viewBox="0 0 448 512">
                                    <path fill="currentColor"
                                          d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z" />
                                </svg>
                            </i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="single-pricing-card">
                    <div class="card-top">
                        <div class="head">
                            <h6 class="title h6">
                                professional
                            </h6>
                            <p class="price">
                                $49
                            </p>
                        </div>
                    </div>
                    <div class="card-middle">
                        <ul class="elements">
                            <li class="element">brand developpment</li>
                            <li class="element">user analysis</li>
                            <li class="element">project management</li>
                            <li class="element">market research</li>
                            <li class="element">Product solutions</li>
                            <li class="element">user element</li>
                        </ul>
                    </div>
                    <div class="card-bottom">
                        <a href="#" class="choose">
                            <span class="link-text">
                                choose plan
                            </span>
                            <i class="svg">
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img"
                                     width="0.88em"
                                     height="1em" preserveAspectRatio="xMidYMid meet"
                                     viewBox="0 0 448 512">
                                    <path fill="currentColor"
                                          d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z" />
                                </svg>
                            </i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="single-pricing-card">
                    <div class="card-top">
                        <div class="head">
                            <h6 class="title h6">
                                professional
                            </h6>
                            <p class="price">
                                $49
                            </p>
                        </div>
                    </div>
                    <div class="card-middle">
                        <ul class="elements">
                            <li class="element">brand developpment</li>
                            <li class="element">user analysis</li>
                            <li class="element">project management</li>
                            <li class="element">market research</li>
                            <li class="element">Product solutions</li>
                            <li class="element">user element</li>
                        </ul>
                    </div>
                    <div class="card-bottom">
                        <a href="#" class="choose">
                            <span class="link-text">
                                choose plan
                            </span>
                            <i class="svg">
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img"
                                     width="0.88em"
                                     height="1em" preserveAspectRatio="xMidYMid meet"
                                     viewBox="0 0 448 512">
                                    <path fill="currentColor"
                                          d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z" />
                                </svg>
                            </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- card pricing with counter start -->
    <div class="tab-pane fade show active" id="month" role="tabpanel" aria-labelledby="month-tab">
        <div class="row w-100 items ">
            <div class="col-lg-4 col-md-6 item">
                <div class="single-pricing-card  single-pricing-card--plan-counter">
                    <div class="card-top">
                        <div class="back-svg">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img"
                                 width="100" height="100" preserveAspectRatio="xMidYMid meet"
                                 viewBox="0 0 24 24">
                                <path fill="currentColor"
                                      d="M9.19 6.35c-2.04 2.29-3.44 5.58-3.57 5.89L2 10.69l4.81-4.81l2.38.47zM11.17 17s3.74-1.55 5.89-3.7c5.4-5.4 4.5-9.62 4.21-10.57c-.95-.3-5.17-1.19-10.57 4.21C8.55 9.09 7 12.83 7 12.83L11.17 17zm6.48-2.19c-2.29 2.04-5.58 3.44-5.89 3.57L13.31 22l4.81-4.81l-.47-2.38zM9 18c0 .83-.34 1.58-.88 2.12C6.94 21.3 2 22 2 22s.7-4.94 1.88-6.12A2.996 2.996 0 0 1 9 18zm4-9c0-1.1.9-2 2-2s2 .9 2 2s-.9 2-2 2s-2-.9-2-2z" />
                            </svg>
                        </div>
                        <div class="head">
                            <p class="price first-price h4">
                                $700
                            </p>
                            <div class="head-svg">
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img"
                                     width="40" height="40" preserveAspectRatio="xMidYMid meet"
                                     viewBox="0 0 24 24">
                                    <path
                                          d="M9.19 6.35c-2.04 2.29-3.44 5.58-3.57 5.89L2 10.69l4.81-4.81l2.38.47zM11.17 17s3.74-1.55 5.89-3.7c5.4-5.4 4.5-9.62 4.21-10.57c-.95-.3-5.17-1.19-10.57 4.21C8.55 9.09 7 12.83 7 12.83L11.17 17zm6.48-2.19c-2.29 2.04-5.58 3.44-5.89 3.57L13.31 22l4.81-4.81l-.47-2.38zM9 18c0 .83-.34 1.58-.88 2.12C6.94 21.3 2 22 2 22s.7-4.94 1.88-6.12A2.996 2.996 0 0 1 9 18zm4-9c0-1.1.9-2 2-2s2 .9 2 2s-.9 2-2 2s-2-.9-2-2z" />
                                </svg>
                            </div>
                            <h5 class="title h5">
                                professional
                            </h5>
                            <p class="price h2">
                                $700 <span class="price-duration">/month</span>
                            </p>
                        </div>
                    </div>
                    <div class="card-middle">
                        <ul class="elements">
                            <li class="element">brand developpment</li>
                            <li class="element">user analysis</li>
                            <li class="element">project management</li>
                            <li class="element">market research</li>
                            <li class="element">Product solutions</li>
                            <li class="element">user element</li>
                        </ul>
                    </div>
                    <div class="card-bottom">
                        <h3 class="price h3">
                            $1000
                        </h3>
                        <a href="#" class="choose">
                            <span class="link-text">
                                choose plan
                            </span>
                            <i class="svg">
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img"
                                     width="0.88em"
                                     height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 448 512">
                                    <path fill="currentColor"
                                          d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z" />
                                </svg>
                            </i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6  item">
                <div class="single-pricing-card  single-pricing-card--plan-counter">
                    <div class="card-top">
                        <div class="back-svg">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img"
                                 width="100" height="100" preserveAspectRatio="xMidYMid meet"
                                 viewBox="0 0 24 24">
                                <path fill="currentColor"
                                      d="M9.19 6.35c-2.04 2.29-3.44 5.58-3.57 5.89L2 10.69l4.81-4.81l2.38.47zM11.17 17s3.74-1.55 5.89-3.7c5.4-5.4 4.5-9.62 4.21-10.57c-.95-.3-5.17-1.19-10.57 4.21C8.55 9.09 7 12.83 7 12.83L11.17 17zm6.48-2.19c-2.29 2.04-5.58 3.44-5.89 3.57L13.31 22l4.81-4.81l-.47-2.38zM9 18c0 .83-.34 1.58-.88 2.12C6.94 21.3 2 22 2 22s.7-4.94 1.88-6.12A2.996 2.996 0 0 1 9 18zm4-9c0-1.1.9-2 2-2s2 .9 2 2s-.9 2-2 2s-2-.9-2-2z" />
                            </svg>
                        </div>
                        <div class="head">
                            <p class="price first-price h4">
                                $700
                            </p>
                            <div class="head-svg">
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img"
                                     width="40" height="40" preserveAspectRatio="xMidYMid meet"
                                     viewBox="0 0 24 24">
                                    <path
                                          d="M9.19 6.35c-2.04 2.29-3.44 5.58-3.57 5.89L2 10.69l4.81-4.81l2.38.47zM11.17 17s3.74-1.55 5.89-3.7c5.4-5.4 4.5-9.62 4.21-10.57c-.95-.3-5.17-1.19-10.57 4.21C8.55 9.09 7 12.83 7 12.83L11.17 17zm6.48-2.19c-2.29 2.04-5.58 3.44-5.89 3.57L13.31 22l4.81-4.81l-.47-2.38zM9 18c0 .83-.34 1.58-.88 2.12C6.94 21.3 2 22 2 22s.7-4.94 1.88-6.12A2.996 2.996 0 0 1 9 18zm4-9c0-1.1.9-2 2-2s2 .9 2 2s-.9 2-2 2s-2-.9-2-2z" />
                                </svg>
                            </div>
                            <h5 class="title h5">
                                professional
                            </h5>
                            <p class="price h2">
                                $700 <span class="price-duration">/month</span>
                            </p>
                        </div>
                    </div>
                    <div class="card-middle">
                        <ul class="elements">
                            <li class="element">brand developpment</li>
                            <li class="element">user analysis</li>
                            <li class="element">project management</li>
                            <li class="element">market research</li>
                            <li class="element">Product solutions</li>
                            <li class="element">user element</li>
                        </ul>
                    </div>
                    <div class="card-bottom">
                        <h3 class="price h3">
                            $1000
                        </h3>
                        <a href="#" class="choose">
                            <span class="link-text">
                                choose plan
                            </span>
                            <i class="svg">
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img"
                                     width="0.88em"
                                     height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 448 512">
                                    <path fill="currentColor"
                                          d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z" />
                                </svg>
                            </i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 item">
                <div class="single-pricing-card  single-pricing-card--plan-counter">
                    <div class="card-top">
                        <div class="back-svg">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img"
                                 width="100" height="100" preserveAspectRatio="xMidYMid meet"
                                 viewBox="0 0 24 24">
                                <path fill="currentColor"
                                      d="M9.19 6.35c-2.04 2.29-3.44 5.58-3.57 5.89L2 10.69l4.81-4.81l2.38.47zM11.17 17s3.74-1.55 5.89-3.7c5.4-5.4 4.5-9.62 4.21-10.57c-.95-.3-5.17-1.19-10.57 4.21C8.55 9.09 7 12.83 7 12.83L11.17 17zm6.48-2.19c-2.29 2.04-5.58 3.44-5.89 3.57L13.31 22l4.81-4.81l-.47-2.38zM9 18c0 .83-.34 1.58-.88 2.12C6.94 21.3 2 22 2 22s.7-4.94 1.88-6.12A2.996 2.996 0 0 1 9 18zm4-9c0-1.1.9-2 2-2s2 .9 2 2s-.9 2-2 2s-2-.9-2-2z" />
                            </svg>
                        </div>
                        <div class="head">
                            <p class="price first-price h4">
                                $700
                            </p>
                            <div class="head-svg">
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img"
                                     width="40" height="40" preserveAspectRatio="xMidYMid meet"
                                     viewBox="0 0 24 24">
                                    <path
                                          d="M9.19 6.35c-2.04 2.29-3.44 5.58-3.57 5.89L2 10.69l4.81-4.81l2.38.47zM11.17 17s3.74-1.55 5.89-3.7c5.4-5.4 4.5-9.62 4.21-10.57c-.95-.3-5.17-1.19-10.57 4.21C8.55 9.09 7 12.83 7 12.83L11.17 17zm6.48-2.19c-2.29 2.04-5.58 3.44-5.89 3.57L13.31 22l4.81-4.81l-.47-2.38zM9 18c0 .83-.34 1.58-.88 2.12C6.94 21.3 2 22 2 22s.7-4.94 1.88-6.12A2.996 2.996 0 0 1 9 18zm4-9c0-1.1.9-2 2-2s2 .9 2 2s-.9 2-2 2s-2-.9-2-2z" />
                                </svg>
                            </div>
                            <h5 class="title h5">
                                professional
                            </h5>
                            <p class="price h2">
                                $700 <span class="price-duration">/month</span>
                            </p>
                        </div>
                    </div>
                    <div class="card-middle">
                        <ul class="elements">
                            <li class="element">brand developpment</li>
                            <li class="element">user analysis</li>
                            <li class="element">project management</li>
                            <li class="element">market research</li>
                            <li class="element">Product solutions</li>
                            <li class="element">user element</li>
                        </ul>
                    </div>
                    <div class="card-bottom">
                        <h3 class="price h3">
                            $1000
                        </h3>
                        <a href="#" class="choose">
                            <span class="link-text">
                                choose plan
                            </span>
                            <i class="svg">
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img"
                                     width="0.88em"
                                     height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 448 512">
                                    <path fill="currentColor"
                                          d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z" />
                                </svg>
                            </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>