{% if content %}
<header {{ attributes.addClass('mitor-hero ') }} > 
    {% if content %}
    <div {{ region_attributes.m_hero_content.addClass('container')}}>
        {{ content.m_hero_content }}
    </div>
    {% endif %}
</header>
{% endif %}